fastapi==0.109.2
uvicorn==0.27.1
httpx==0.28.1
sqlalchemy==2.0.36
python-dotenv==1.0.0  # For loading environment variables
starlette==0.36.3      # FastAPI is built on top of Starlette
graphql-core==3.2.5    # For GraphQL support
requests==2.32.3       # For making HTTP requests in resolvers
pydantic==2.10.3       # For data validation and settings management
pymysql==1.0.2 